.card
{
  height: auto;
  overflow: hidden;
  background-color: #CCCCCC;
}
.card .dropdownManager .details
{
  background-color: #EEEEEE;
  transition-duration: 0.5s;
}
.card .dropdownManager .hiddenPortionHidden
{
  margin: 0 0 -100% 0;
}
.card .dropdownManager .hiddenPortionShown
{
  margin: 0 0 0 0;
}
.dropdownManager
{
  background-color: #EEEEEE;
  position: relative;
  height: auto;
  width: auto;
}

#search-icon
{
  height: 24px;
  width: auto;
}
