@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.faded
{
  font-style: italic;
  color: #888888;
}

.card
{
  border-radius: 5px;
  height: auto;
  overflow: hidden;
}
.dropdownManager
{
  background-color: #EEEEEE;
  position: relative;
  height: auto;
  width: auto;
}

#search-icon
{
  height: 24px;
  width: auto;
}



.card-header:hover
{
  opacity: 80%;
}
.card-header
{
  border: 2px solid black;
  background-color: #CCCCCC;
  padding: 0.2em 3px 0.2em 0.5em;
  transition-duration: 0.5s;
}

.card-header-nominated
{
  border: 2px solid #a25e0b;
  color: #EEEEEE;
  background: rgb(52,12,70);
  background: linear-gradient(117deg, rgba(52,12,70,1) 0%, rgba(129,53,160,1) 50%, rgba(49,9,62,1) 100%);
}
.card-header-selected
{
  border: 2px solid #20cb31;
}
.film-title
{
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
}
.film-year
{
  margin: 0.25em 0.25em 0 0.25em;
  color: grey;
  font-size: 1em;
}
.force-hori
{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* DETAILS */

.film-banner
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}
.imdb-link:hover
{
  background-color: #eeeeee;
}
.imdb-link
{
  transition-duration: 0.2s;
  display: block;
  margin-left: auto;
  border-radius: 5px;
  background-color: #8beff8;
}
.ratings
{
  justify-content: center;
}
.left-display .right-display
{
  padding: 25px;
}
.rating span
{
  margin: 5px;
  font-weight: bold;
}
.rating-vert span
{
  font-size: 24px;
}
.rating-vert img
{
  width: 60px;
}
.rating-vert
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-hori img
{
  width: 40px;
}
.rating-hori
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.display
{
  padding: 50px;
}
.display p
{
  margin-top: 0.5em;
}
.awards
{
  font-weight: bold;
  -webkit-text-stroke: 1px #998600;
}
.ratings
{
  padding: 15px;
}

/* NOMINATIONS */

.nomination
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-width: 200px;
  padding-top: 120%;
  padding-top: min(120%, 240px);
  border: 3px dashed gray;
  background-color: #00000000;
}
.nominations
{
  max-width: 600px;
}
.nom-holder
{
  margin: 1rem 0 1rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 125px;
  max-width: 200px;
}
.nomination-filled
{
  border: 3px solid #a25e0b;
}
.nomination-empty
{
  font-size: 24px;
}
.nominate-button
{
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
.x-button
{
  width: 25px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition-duration: 0.25s;
}
.x-button:hover
{
  width: 35px;
}
.add-nominate-button
{

}
.inactive-nominate-button
{

}
.remove-nominate-button
{

}
